<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Listado de Proveedores</title>
  <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{NavBar.html}"></div>

<div class="container">
  <h1>Listado de Proveedores</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Retención</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="proveedor : ${proveedores}">
      <td th:text="${proveedor.id}"></td>
      <td th:text="${proveedor.nombre}"></td>
      <td th:text="${proveedor.categoria}"></td>
      <td th:text="${proveedor.retencion}"></td>
    </tr>
    </tbody>
  </table>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
