<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Subir archivo CSV</title>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{NavBar.html}"></div>
<div class="container">
    <h1>Subir archivo CSV</h1>
    <form enctype="multipart/form-data" method="POST" th:action="@{/reporte/fileUpload}">
        <br>
        <input type="file" class="form-control" name="file" accept = ".csv">
        <br>
        <input class = "btn btn-primary"
               type="submit" value="Cargar el archivo a la Base de Datos">
    </form>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
</body>
</html>
